{% load staticfiles %}
<html>
  <head>
    <title>Send Reports</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script text="text/javascript">
      var lat;
      var lng;

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

      function postReport(id_str){
        var element = document.getElementById(id_str);
        var type="";
        if(id_str.includes("disease")){
          type="disease";
        }
        else if(id_str.includes("injury")) {
          type="injury";
        } else {
          type="structure";
        }
        var status = "";
        var status_regex = /.*_(.*)/g;
        var status = status_regex.exec(id_str)[1];
        var url = "/report_create/";
        if(lat && lng){
          $.ajax({
              type:    "POST",
              url:     url,
              data:    {"report_type":type,
                        "status":status,
                        "latitude":lat.toPrecision(13),
                        "longitude":lng.toPrecision(13),
                        "disease_name":"ebola"
                       },
              success: function(data) {
                    element = document.getElementById("report_info");
                    element.innerHTML = "Successfully sent report";
                    console.log("Success");
                    window.setTimeout(function(){
                      element.innerHTML = "";
                    }, 5000);
              },
              error:   function(jqXHR, textStatus, errorThrown) {
                    element = document.getElementById("report_info");
                    element.html = "Error, status = " + textStatus + ", " +
                          "error thrown: " + errorThrown;
              }
            });
        }
      }

      window.onload = function(){
        var startPos;
        var geoSuccess = function(position) {
          console.log("getting position");
          startPos = position;
          console.log(startPos);
          lat = startPos.coords.latitude;
          lng = startPos.coords.longitude;
          $('button').prop('disabled',false);
          $('.filler').hide();
          window.setTimeout(function(){
            navigator.geolocation.getCurrentPosition(geoSuccess)
          }, 5000);
        };
        navigator.geolocation.getCurrentPosition(geoSuccess);

        var elements = document.getElementsByClassName("mobile_button");
        console.log(elements);
        for(var element of elements){
          addPostListener(element);
        }
      }

      function addPostListener(element){
        element.addEventListener('click', function(){postReport(element.id)});
      }
    </script>
  </head>
  <body class="basic_page">
  
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mobile Damage Assessment</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
            <li><a href="/map_view/">Map</a></li>
            <li><a href="/report/list/">Reports</a></li>
            <li class="active"><a href="/mobile_report/">Location Report</a></li>
      </ul>
    </div>
  </div>
</nav>


    <h1> 
      Mobile Reports</h1>
    <div class="row">
      <div class="filler col-md-5">
        loading location...
      </div>
      <div id="report_info" class="report"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li id="injury_tab" role="presentation" class="active"><a href=#injury_tab_pane aria-controls="injury_tab_pane" role="tab" data-toggle="tab">Injury</a></li>
          <li id="disease_tab" role="presentation" class=""><a href=#disease_tab_pane aria-controls="disease_tab_pane" role="tab" data-toggle="tab">Disease</a></li>
          <li id="structure_tab" role="presentation" class=""><a href=#structure_tab_pane aria-controls="structure_tab_pane" role="tab" data-toggle="tab">Structure</a></li>
        </ul>
        <div class="tab-content">
          <div id="injury_tab_pane" role="tabpanel" class="tab-pane active">
            <button disabled="true" id="injury_ok" type="button" class="button mobile_button" href="/report_create/">
              <div style="position:relative;">
                <img class="mobile_button_img" src={% static "images/injury_green.png" %}/>
                <!--<img class="mobile_button_img" style="position:absolute;bottom:0;right:0;opacity:0.5" src={% static "images/trans_hatch_green.png" %} />-->
              </div>
            </button>
            <button disabled="true" id="injury_injured" type="button" class="button mobile_button" href="/report_create/">
              <div style="position:relative;">
                <img class="mobile_button_img" src={% static "images/injury_yellow.png" %}/>
                <!--<img class="mobile_button_img" style="position:absolute;bottom:0;right:0;opacity:0.5" src={% static "images/trans_hatch_yellow.png" %} />-->
              </div>
            </button>
            <button disabled="true" id="injury_critical" type="button" class="button mobile_button" href="/report_create/">
              <div style="position:relative;">
                <img class="mobile_button_img" src={% static "images/injury_red.png" %}/>
                <!--<img class="mobile_button_img" style="position:absolute;bottom:0;right:0;opacity:0.5" src={% static "images/trans_hatch_red.png" %} />-->
              </div>
            </button>
            <button disabled="true" id="injury_deceased" type="button" class="button mobile_button" href="/report_create/">
              <div style="position:relative;">
                <img class="mobile_button_img" src={% static "images/injury_white.png" %}/>
                <!--<img class="mobile_button_img" style="position:absolute;bottom:0;right:0;opacity:0.5" src={% static "images/trans_hatch_black.png" %} />-->
              </div>
            </button>
          </div>
          <div id="disease_tab_pane" role="tabpanel" class="tab-pane">
            <button disabled="true" id="disease_cleared" type="button" class="button mobile_button" href="/report_create/">
              <div style="position:relative;">
                <img class="mobile_button_img" src={% static "images/disease_green.png" %}/>
                <!--<img class="mobile_button_img" style="position:absolute;bottom:0;right:0;opacity:0.5" src={% static "images/trans_hatch_green.png" %} />-->
              </div>
            </button>
            <button disabled="true" id="disease_stable" type="button" class="button mobile_button" href="/report_create/">
              <div style="position:relative;">
                <img class="mobile_button_img" src={% static "images/disease_yellow.png" %}/>
                <!--<img class="mobile_button_img" style="position:absolute;bottom:0;right:0;opacity:0.5" src={% static "images/trans_hatch_yellow.png" %} />-->
              </div>
            </button>
            <button disabled="true" id="disease_critical" type="button" class="button mobile_button" href="/report_create/">
              <div style="position:relative;">
                <img class="mobile_button_img" src={% static "images/disease_red.png" %}/>
                <!--<img class="mobile_button_img" style="position:absolute;bottom:0;right:0;opacity:0.5" src={% static "images/trans_hatch_red.png" %} />-->
              </div>
            </button>
            <button disabled="true" id="disease_deceased" type="button" class="button mobile_button" href="/report_create/">
              <div style="position:relative;">
                <img class="mobile_button_img" src={% static "images/disease_white.png" %}/>
                <!--<img class="mobile_button_img" style="position:absolute;bottom:0;right:0;opacity:0.5" src={% static "images/disease_white.png" %} />-->
              </div>
            </button>
          </div>

          <div id="structure_tab_pane" role="tabpanel" class="tab-pane">
            <button disabled="true" id="structure_ok" type="button" class="button mobile_button" href="/report_create/">
              <img class="mobile_button_img" src={% static "images/building_green.png" %}/>
            </button>
            <button disabled="true" id="structure_damaged" type="button" class="button mobile_button" href="/report_create/">
              <img class="mobile_button_img" src={% static "images/building_yellow.png" %}/>
            </button>
            <button disabled="true" id="structure_unsound" type="button" class="button mobile_button" href="/report_create/">
              <img class="mobile_button_img" src={% static "images/building_red.png" %}/>
            </button>
            <button disabled="true" id="structure_destroyed" type="button" class="button mobile_button d_structure" href="/report_create/">
              <img class="mobile_button_img" src={% static "images/building_white.png" %}/>
            </button>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
