{% extends 'base.html' %}
{% load staticfiles %}
  {% block title %} View Report {% endblock %}

  {% block body_block %}
  <div class="basic_page">
      <div class="container-fluid" style="">
        <div class="row">
          <h1>Report View</h1>
          <div>
            {{report.html_output|safe}}
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <a type="button" class="btn btn-default" href="/report/{{type}}/{{report.id}}/edit">Edit</a>
            <div class="btn-group" role="group">
              <form class="table-form" action="/report/{{type}}/{{report.id}}/delete" method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
        {% if type != "structure" %}
        <div class="row">
          <h1>Patient History</h1>
          <table class="table-striped centered-table">
            <thead>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Status</th>
              <th>Center</th>
              <th>Reporter</th>
              <th>Report Time</th>
            </thead>
            <tbody>
              {% for report in history %}
              <tr>
                <td>{{report.latitude|floatformat:5}}</td>
                <td>{{report.longitude|floatformat:5}}</td>
                <td>{{report.patient_status.capitalize}}</td>
                <td>{{report.center}}</td>
                <td>{{report.reporter}}</td>
                <td>{{report.report_time|date:"D d M Y H:i"}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div><!--/.basic_page-->
  {% endblock %}
