{% extends 'base.html' %}
{% load staticfiles %}
{% load modelTags %}
{% load tz %}

<!doctype html>
{% block title %}Report List{% endblock %}

{% block body_block %}
  <div class="basic_page">

    <div class="input-container">
      <input id="filterInput" placeholder="type to filter" value="Type To Filter">
    </div>
    <table class="table-striped centered-table report-list-table" cellspacing="0">
      <thead>
        <th>Report Type</th>
        {% for field in field_list %}
        <th>{{field.1}}</th>
        {% endfor %}
        <th>Options</th>
      </thead>
      <tbody>
    {% for report in report_list %}
       <tr>
         <td>{{ report|class_name }}</td>
         {% for field in field_list %}
          {% if field.0 == "center" and report|class_name_lower == "structure" %}
            <td>N/A</td>
          {% elif field.0 == "center" and report.center %}
            <td><a href="/center/{{report.center.id}}">{{report.center}}</a>
          {% else %}
            <td>{{ report|getattribute:field.0 }}</td>
          {% endif %}
         {% endfor %}
         <td>
           <div class="btn-group" role="group" areai-label="...">
            <a type="button" class="btn btn-default" href="/report/{{report|class_name_lower}}/{{report.id}}" method="GET">View</a>
            <a type="button" class="btn btn-default" href="/report/{{report|class_name_lower}}/{{report.id}}/edit" method="GET">Edit</a>
            <form class="table-form" action="/report/{{report|class_name_lower}}/{{report.id}}/delete" method="POST">{% csrf_token %}
              <input type="hidden" name="redirect" value="list"/>
              <button type="submit" class="btn btn-danger"> Delete </button>
            </form>
           </div>
         </td>
      </tr>
    {% endfor %}
      </tbody>
    </table>

    <script type="text/javascript">
    $(document).ready(function()
    {
        $(".report_list").tablesorter();
    }
    );

      $("#filterInput").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("tbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
}).focus(function () {
    this.value = "";
    $(this).css({
        "color": "black"
    });
    $(this).unbind('focus');
}).css({
    "color": "#C0C0C0"
});

    </script>

    </div>
{% endblock %}
