{% extends 'base.html' %}
{% load staticfiles %}
{% load modelTags %}

    {% block title %}{{center.name}}{% endblock %}

{% block body_block %}
    <div class="basic_page">
      <div class="container-fluid">
        <div class="row">
          <h1>{{center.name}}</h1>
        </div>
        <div class="row">
          <table>
            <tbody>
              <tr><td style="text-align:right;padding-right:5px">Status: </td><td>{{center.properties.status}}</td></tr>
              <tr><td style="text-align:right;padding-right:5px">Verified: </td><td>{{center.properties.verified}}</td></tr>
              <tr><td style="text-align:right;padding-right:5px">Latitude: </td><td>{{center.properties.latitude|floatformat:5}}</td></tr>
              <tr><td style="text-align:right;padding-right:5px">Longitude: </td><td>{{center.properties.longitude|floatformat:5}}</td></tr>
            </tbody>
          </table>
        </div>
        {% if patient_list.count > 0 %}
        <div class="row">
          <h2> Patient List </h2>
          <table class="table-striped centered-table">
            <thead>
              <th>Patient ID </th>
              <th>Condition</th>
              <th>Status</th>
              <th>Initial Reporter</th>
              <th>Report Time</th>
              <th>Updater</th>
              <th>Update Time</th>
              <th>Options</th>
            </thead>
            <tbody>
              {% for patient in patient_list %}
                <tr>
                  <td>{{patient.id}}</td>
                  <td>{{patient.condition_type.capitalize}}</td>
                  <td>{{patient.status.capitalize}}</td>
                  <td>{{patient.initial_reporter}}</td>
                  <td>{{patient.report_time|date:"M. d Y H:i"}}</td>
                  <td>{{patient.updater}}</td>
                  <td>{{patient.update_time|date:"M. d Y H:i"}}</td>
                  <td class="btn-group" role="group">
                   <a type="button" class="btn btn-default" href="/report/person/{{patient.id}}" method="GET">View</a>
                   <a type="button" class="btn btn-default" href="/report/person/{{patient.id}}/edit" method="GET">Edit</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
