.basic_page{
  margin-left:15px;
  margin-right:15px;
  margin-top:5px;
}

.mobile_button{
  margin-right:20px;
}

.mobile_button_img {
  width:300px;
  height:300px;
}

.centered-table {
  text-align:center
}

.centered-table th{
  text-align:center
}

.centered-table td{
  padding-right:5px;
  padding-left:5px;
}

.table-button {
  display:inline-table;
}

.report-list-table {
  width: 100%;
  margin-top: 20px;
}                
.report-list-table  td {
  padding: 5px;
}
.report-list-table tr:hover {
  background-color: #ffc5c5 !important;
  cursor: default;
}
.table-fullwidth {
  width: 100%; 
}
.navbar-mapfix {
  z-index: 500 /* map_view navbar fix */; 
}


